# Pythan Einf√ºhrung
**fett** fett schreiben  
*kursiv* kursiv schreiben

In [5]:
# dies ist ein Kommentar
print ("hallo world!")

hallo world!

## Datentypen

In [15]:
name = "Lovelace"

In [16]:
print(name)

Lovelace

In [8]:
name

'lovelace'

In [11]:
first_name = "Ada" #string

In [12]:
# Integer - Ganzzahlen
age = 73
print(age)

73

In [26]:
# Flat - Gleitkommazahlen
size = 1.7123

In [14]:
# Boolean - Boolscher Wert
knows_math = True
print (knows_math)

True

In [17]:
5

5

In [18]:
name

'Lovelace'

In [22]:
know_math
name

NameError: name 'know_math' is not defined

In [23]:
print(knows_math)
print(name)

True
Lovelace

In [24]:
type(s

NameError: name 'size' is not defined

# Operatoren

In [27]:
5 + 5

10

In [29]:
age * 100

7300

In [30]:
name + name

'LovelaceLovelace'

In [31]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [32]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [33]:
name + "10"

'Lovelace10'

In [34]:
size/age

0.023456164383561642

In [35]:
number_of_articles = "50"

In [36]:
number_of_articles / 10

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [37]:
int(number_of_articles)

50

## Funktionen und Methoden

In [39]:
len (name)

8

In [41]:
name.upper()

'LOVELACE'

In [43]:
name.lower()

'lovelace'

In [44]:
name.count("e")

2

In [46]:
name.replace("lace", " is everywhere")

'Love is everywhere'

In [48]:
str(age).replace("73", "10")

'10'

##Listen und Dictionaries

## Listen und Dictionaries

In [50]:
# liste
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [52]:
names [0]

'Lovelace'

In [53]:
names [3]

'Hawking'

In [54]:
names [-3]

'Darwin'

In [55]:
names [0-3]

'Darwin'

In [56]:
names [0:3]

['Lovelace', 'Darwin', 'Curie']

In [58]:
names [:2]

['Lovelace', 'Darwin']

In [59]:
names [2:]

['Curie', 'Hawking']

In [63]:
authors_and_birth_year = {"Lovelace": 1882, "Noether": 1882, "Darwin": 1809, "Hawking": 1942}

In [64]:
authors_and_birth_year["Darwin"]

1809

In [65]:
%who

age	 authors_and_birth_year	 first_name	 knows_math	 name	 names	 number_of_articles	 size

#For-Schleifen

##For-Schleifen

In [66]:
names

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [70]:
for person in names: print(person + " did awesome stuff")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff

In [74]:
for person in names: print (person "did awesome stuff")

SyntaxError: invalid syntax (<ipython-input-74-a177089e304f>, line 1)

In [81]:
temp = 20
if temp > 15: print("Es ist warm")

Es ist warm

In [85]:
temp = 10
if temp > 15: 
    
    print("Es ist warm")
else: 
    print("Es ist kalt")

Es ist kalt

In [86]:
temp = 30
if temp > 25: 
   
    print("Es ist heiss")
    elif temp>15:
    print("Es ist warm")
    
else: 
    print("Es ist kalt")

Es ist heiss